<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu"
            class="area-logada__sidebar col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <app-sidebar></app-sidebar>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Filtrar pedidos por status:</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
            </div>

            <select class="form-select" [(ngModel)]="selectedStatus">
                <option value="">Todos</option>
                <option value="Aprovado">Aprovado</option>
                <option value="Em aberto">Em Aberto</option>
                <option value="Cancelado">Cancelado</option>
                <option value="Aguardando Pagamento">Aguardando Pagamento</option>
            </select>

            <section class="listagem">
                <div class="container">
                    <div class="row">
                        <div class="listagem__tabela">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="co1-1">Nº do Pedido</th>
                                        <th scope="col-2">Data de Recolhimento</th>
                                        <th scope="col-3">Status</th>
                                        <th scope="col-2"></th>
                                        <th scope="col-2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pedido of applyStatusFilter()">
                                        <td>{{pedido.id}}</td>
                                        <td>{{ pedido.dataPedido | date: 'dd/MM/yyyy' }}</td>
                                        <td>{{pedido.status}}</td>
                                        <td *ngIf="pedido.status === 'Aguardando Pagamento'">
                                            <button routerLink="/cliente/pagar-pedido" class="btn btn-primary">Pagar
                                                Pedido</button>
                                        </td>
                                        <td *ngIf="pedido.status != 'Aguardando Pagamento'">
                                            <button class="btn btn-primary">Ver pedido</button>
                                        </td>
                                        <td *ngIf="pedido.status === 'Em aberto'">
                                            <button class="btn btn-danger" (click)="cancelarPedido(pedido.id)">Cancelar
                                                Pedido</button>
                                        </td>
                                        <td *ngIf="pedido.status != 'Em aberto'">
                                            <button class="btn btn-primary ver"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p *ngIf="pedidos.length===0">Nenhum pedido cadastrado</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>
<app-footer></app-footer>