<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu"
      class="area-logada__sidebar funcionario col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <app-sidebar-funcionario></app-sidebar-funcionario>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <section class="inicial-funcionario">
        <h2>Pedidos em aberto:</h2>
        <div class="container">
          <div class="row">
            <div class="inicial-funcionario__table col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">Número do Pedido:</th>
                    <th class="text-center" scope="col">Data</th>
                    <th class="text-center" scope="col">Hora</th>
                    <th class="text-center" scope="col">Status</th>
                    <th class="text-center" scope="col">Ação</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let pedido of pedidos">
                    <tr *ngIf="pedido.status === 'Em aberto'">
                      <td class="col-3 text-center">{{ pedido.id}}</td>
                      <td class="col-2 text-center">
                        {{ pedido.dataPedido | date : "dd/MM/yyyy" }}
                      </td>
                      <td class="col-2 text-center">
                        {{ pedido.dataPedido | date : "HH:mm" }}
                      </td>
                      <td class="col-2 text-center">
                        {{ pedido.status }}
                      </td>
                      <td *ngIf="pedido.status === 'Em aberto'" class="col-3 text-center">
                        <button class="btn btn-action" (click)="confirmarRecolhimento(pedido.id)">Confirmar
                          Recolhimento</button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>


    </main>
  </div>
</div>
<app-footer></app-footer>