<nav class="area-logada__navbar navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="navbar__content container-fluid">
        <img src="../../../assets/images/pilha-de-roupas.png"
            alt="Imagem ilustrada de uma camisetas de roupas dobradas">
        <p class="navbar__title">LOL - Lavanderia On-line</p>
        <div class="navbar__btn collapse navbar-collapse" id="navbarsExample02">
            <a routerLink="/">Logout</a>
        </div>
    </div>
</nav>
