.area-logada__navbar .navbar__title {
    color: #FFFFFF;
    margin-bottom: 0;
}

.area-logada__navbar .navbar__content {
    padding: 0 3rem;
}

.area-logada__navbar .navbar__btn {
    justify-content: end;
}

.area-logada__navbar .navbar__btn a {
    color: #FFFFFF;
}

.area-logada__navbar .navbar__btn a:hover {
    font-style: italic;
}