<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu"
            class="area-logada__sidebar col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <app-sidebar></app-sidebar>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Olá, fulano!</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
            </div>

            <section class="pedido">
                <h2>Faça seu pedido:</h2>
                <div class="pedido__formulario">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="peca">Selecione uma peça de roupa:</label>
                            <select [(ngModel)]="itemSelecionado" class="pedido__select form-select">
                                <option *ngFor="let item of itens" [value]="item">{{item.nome}}</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="peca">Selecione a quantidade:</label>
                            <input class="form-control" type="number" [(ngModel)]="quantidade" min="1">
                        </div>
                        <div class="form-group col-2">
                            <button class="btn btn-primary" (click)="adicionarItem()">Adicionar</button>
                        </div>
                    </div>
                </div>
            </section>

            <div *ngIf="itensCarrinho.length > 0">
                <h2>Orçamento do Pedido:</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Peça</th>
                            <th>Quantidade</th>
                            <th>Valor Unitário</th>
                            <th>Valor Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itemCarrinho of itensCarrinho; let i = index">
                            <td>Nome da peça: {{itemCarrinho.item.nome}}</td>
                            <td>{{itemCarrinho.quantidade}}</td>
                            <td>R$ {{itemCarrinho.item.valor}}</td>
                            <td>R$ {{(itemCarrinho.item.valor * itemCarrinho.quantidade).toFixed(2)}}</td>
                            <td><button (click)="removerItem(i)">Remover</button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total:</td>
                            <td>R$ {{totalCarrinho.toFixed(2)}}</td>
                            <td><button (click)="limparCarrinho()">Limpar carrinho</button></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </main>
    </div>
</div>