<!-- <app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu"
            class="area-logada__sidebar funcionario col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <app-sidebar-funcionario></app-sidebar-funcionario>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Manutenção de funcionários</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
            </div>

            <section class="editar-funcionario">
                <h2 class="h3">Editar cadastro de funcionário: </h2>
                <div class="container">
                    <div class="row">
                        <div class="editar-funcionario__table col-md-10">

                            <form class="row g-3" #formFuncionario="ngForm" (ngSubmit)="atualizarFuncionario()">

                                <section class="novo__row row">
                                    <div class="col-10">
                                        <label class="form-label">Nome completo: <span class="required">*</span></label>

                                        <input type="text" class="form-control" id="inputNome" name="nome"
                                            [(ngModel)]="funcionario.nome" required>

                                    </div>
                                </section>

                                <section class="novo__row row">
                                    <div class="col-6">
                                        <label class="form-label">E-mail: <span class="required">*</span></label>

                                        <input type="email" class="form-control" id="inputEmail" name="email"
                                            [(ngModel)]="funcionario.email" required>
                                    </div>

                                    <div class="col-4">
                                        <label class="form-label">Data de nascimento: <span class="required">*</span></label>

                                        <input type="date" class="form-control" id="birthday" name="dt_nasc"
                                            [(ngModel)]="funcionario.dt_nasc" required>
                                    </div>
                                </section>

                                <section class="row">
                                    <div class="col-12 actions">
                                        <button type="submit" class="autocadastro__btn btn btn-primary"
                                            (click)="atualizarFuncionario()" [disabled]="!formFuncionario.form.valid">
                                            Salvar
                                        </button>

                                        <button routerLink="/funcionario/manutencao-funcionario" type="submit"
                                            class="autocadastro__btn btn btn-primary">Voltar</button>
                                    </div>
                                </section>
                                <p><span class="required">*</span> campos obrigatórios</p>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>
<app-footer></app-footer> -->