.visualizar-pedidos__table .linha {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
}

.visualizar-pedidos__table .status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.visualizar-pedidos__table .em-aberto .linha .status {
    background-color: yellow;
}

.visualizar-pedidos__table .rejeitado .linha .status {
    background-color: red;
}

.visualizar-pedidos__table .recolhido .linha .status {
    background-color: grey;
}

.visualizar-pedidos__table .aguardando .linha .status {
    background-color: blue;
}

.visualizar-pedidos__table .pago .linha .status {
    background-color: orange;
}
.visualizar-pedidos__table .finalizado .linha .status {
    background-color: green;
}

.modal__content {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px #333;
    position: fixed;
    left: 50%;
    padding: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.overlay {
    background: #000;
    height: 100vh;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}