.visualizar-pedidos__table {
    border: 1px solid var(--border-color);
    border-radius: 22px;
    padding: 2rem;
    margin: 12px 0 32px;
}

.visualizar-pedidos__table .status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.visualizar-pedidos__table .em-aberto .linha  {
    background-color: #FFDF12;
    color: #000;
}

.visualizar-pedidos__table .rejeitado .linha  {
    background-color: #ba181b;
    color: #FFF;
}

.visualizar-pedidos__table .recolhido .linha  {
    background-color: #968C89;
    color: #FFF;
}

.visualizar-pedidos__table .aguardando .linha  {
    background-color: #467DAC;
    color: #FFF;
}

.visualizar-pedidos__table .pago .linha  {
    background-color: #f18701;
    color: #000;
}

.visualizar-pedidos__table .finalizado .linha  {
    background-color: #337F05;
    color: #FFF;
}

.modal__content {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px #333;
    position: fixed;
    left: 50%;
    padding: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.overlay {
    background: #000;
    height: 100vh;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

.btn-action {
    background: var(--btn-color);
    color: #FFF;
}

.btn-action.ver {
    display: none;
}

.modal__content .modal__button {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}


.modal__content .modal__button .btn {
    background: var(--btn-color);
    color: #FFFFFF;
}