<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu"
            class="area-logada__sidebar funcionario col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <app-sidebar-funcionario></app-sidebar-funcionario>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Olá, fulano!</h1>
            </div>
            <select class="form-select" [(ngModel)]="selectedStatus">
                <option value="">Todos</option>
                <option value="Em aberto">Em aberto</option>
                <option value="Rejeitado">Rejeitado</option>
                <option value="Recolhido">Recolhido</option>
                <option value="Pago">Pago</option>
                <option value="Finalizado">Finalizado</option>
                <option value="Aguardando pagamento">Aguardando pagamento</option>
            </select>
            <div class="container">
                <div class="row">
                    <div class="visualizar-pedidos__table col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-2" scope="col">Nº do Pedido</th>
                                    <th class="col-2" scope="col">Data</th>
                                    <th class="col-2" scope="col">Hora</th>
                                    <th class="col-3" scope="col">Status</th>
                                    <th class="col-3" scope="col">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pedido of applyStatusFilter()" [ngClass]="{
                                    'em-aberto': pedido.status === 'Em aberto',
                                    'rejeitado': pedido.status === 'Rejeitado',
                                    'recolhido': pedido.status === 'Recolhido',
                                    'aguardando': pedido.status === 'Aguardando pagamento',
                                    'pago': pedido.status === 'Pago',
                                    'finalizado': pedido.status === 'Finalizado',
                                }">
                                    <td>{{pedido.id}}</td>
                                    <td>{{ pedido.dataHora | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ pedido.dataHora | date:'HH:mm' }}</td>
                                    <td class="linha">
                                        <div class="status"></div>
                                        {{pedido.status}}
                                    </td>
                                    <td *ngIf="pedido.status === 'Em aberto'">
                                        <button routerLink="/funcionario" class="btn btn-action">Confirmar
                                            Recolhimento</button>
                                    </td>
                                    <td *ngIf="pedido.status === 'Recolhido'">
                                        <button class="btn btn-action" (click)="abrirModal(pedido.id)">Confirmar
                                            Lavagem</button>
                                    </td>
                                    <td *ngIf="pedido.status === 'Pago'">
                                        <button class="btn btn-action">Finalizar Pedido</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <section *ngIf="confirmar">
                <div>
                    <div class="modal__content">
                        <h3 class="modal__title">Deseja confirmar lavagem?</h3>
                        <p>Número do pedido: {{numeroPedido}}</p>
                        <div class="modal__button">
                            <button class="btn" (click)="confirmarLavagem()">Sim</button>
                            <button class="btn" (click)="confirmar = false">Não</button>
                        </div>
                    </div>
                    <div class="overlay"></div>
                </div>
            </section>
        </main>

    </div>
</div>
<app-footer></app-footer>