<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu"
            class="area-logada__sidebar funcionario col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <app-sidebar-funcionario></app-sidebar-funcionario>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Manutenção de funcionários</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
            </div>

            <section class="novo-funcionario">
                <h2 class="h3">Cadastrar novo funcionário:</h2>
                <div class="container">
                    <div class="row">
                        <div class="novo-funcionario__table col-md-10">

                            <form class="row g-3" [formGroup]="formFuncionario">
                                <section class="novo__row row">
                                    <div class="col-10">
                                        <label class="form-label">Nome completo: <span class="required">*</span></label>
                                        <input type="text" class="form-control" id="inputNome" formControlName="nome"
                                            [(ngModel)]="funcionario.nome" required>
                                    </div>
                                </section>

                                <section class="novo__row row">
                                    <div class="col-6">
                                        <label class="form-label">E-mail: <span class="required">*</span></label>
                                        <input type="email" class="form-control" id="inputEmail" formControlName="email"
                                            [(ngModel)]="funcionario.email" ngModel required>
                                    </div>

                                    <div class="col-4">
                                        <label class="form-label">Data de nascimento: <span
                                                class="required">*</span></label>
                                        <input type="date" class="form-control" id="birthday" formControlName="dt_nasc"
                                            [(ngModel)]="funcionario.dt_nasc" ngModel required>
                                    </div>
                                </section>

                                <section class="novo__row row">
                                    <div class="col-5">
                                        <label class="form-label">Senha: <span class="required">*</span></label>
                                        <input type="password" class="form-control" id="password"
                                            formControlName="senha" required>
                                    </div>
                                    <div class="col-5">
                                        <label for="confirmPassword" class="form-label">Repetir senha: <span
                                                class="required">*</span></label>
                                        <input type="password" class="form-control" id="confirmPassword"
                                            formControlName="confirmarSenha" required>
                                        <div class="erro"
                                            *ngIf="formFuncionario.hasError('passwordMismatch') && formFuncionario.touched">
                                            <p class="">As senhas não coincidem</p>
                                        </div>
                                    </div>

                                </section>
                                <section class="row">
                                    <div class="col-12 actions">
                                        <button type="submit" class="autocadastro__btn btn btn-primary"
                                            (click)="inserirFuncionario()" [disabled]="!formFuncionario.valid">
                                            Cadastrar
                                        </button>

                                        <button routerLink="/funcionario/manutencao-funcionario" type="submit"
                                            class="autocadastro__btn btn btn-primary">Voltar</button>
                                    </div>
                                </section>
                                <p><span class="required">*</span> campos obrigatórios</p>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>
<app-footer></app-footer>