<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <span data-feather="home" class="align-text-bottom"></span>
                            Início
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file" class="align-text-bottom"></span>
                            Fazer Pedidos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart" class="align-text-bottom"></span>
                            Ver orçamentos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users" class="align-text-bottom"></span>
                            Ver pedidos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                            Consultar Pedidos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            Pagar Pedido
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Olá, fulano!</h1>
                <div class="btn-toolbar mb-2 mb-md-0">

                    <button type="button" class="btn btn-sm btn-outline-secondary">
                        Logout
                    </button>
                </div>
            </div>

            <!-- select de categorias: o select mostra um as opções, a pessoa seleciona as opsções e elas são descriminadas -->

            <h2>Seus Pedidos:</h2>
        <table class="table" >
    
<thead>
<th>Numero do Pedido</th>
<th>Data Recolhimento</th>
<th>Data Devolução</th>
<th>Valor</th>

</thead>
<tr>
    <td>#003</td>
    <td>23/02/23</td>
    <td>24/02/23</td>
    <td>120,00</td>
    
</tr>
<tr>
    <td>#002</td>
    <td>02/02/23</td>
    <td>05/02/23</td>
    <td>10,00</td>
    
</tr>
<tr>
    <td>#001</td>
    <td>05/01/23</td>
    <td>07/01/23</td>
    <td>32,00</td>
    
</tr>

        </table>


        </main>
    </div>
</div>