<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/inicial-cliente">
            <span data-feather="home" class="align-text-bottom"></span>
            Início
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/pedido-online">
            <span data-feather="file" class="align-text-bottom"></span>
            Fazer Pedidos
        </a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/orcamentos">
            <span data-feather="shopping-cart" class="align-text-bottom"></span>
            Ver orçamentos
        </a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/listagem-pedidos">
            <span data-feather="users" class="align-text-bottom"></span>
            Listagem de Pedidos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/consultar-pedidos">
            <span data-feather="bar-chart-2" class="align-text-bottom"></span>
            Consultar Pedidos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="layers" class="align-text-bottom"></span>
            Pagar Pedido
        </a>
    </li>
</ul>