<app-navbar></app-navbar>
<div class="container-fluid">
	<div class="row">
		<nav id="sidebarMenu"
			class="area-logada__sidebar funcionario col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
			<div class="position-sticky pt-3 sidebar-sticky">
				<app-sidebar-funcionario></app-sidebar-funcionario>
			</div>
		</nav>

		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div class="container mt-5">
				<h1>Relatório de melhores clientes</h1>

				<section class="container">
					<div class="row">
						<div class="receita__table col-md-12">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Nome</th>
										<th scope="col">CPF</th>
										<th scope="col">E-mail</th>
										<th scope="col">CEP</th>
										<th scope="col">Endereço</th>
										<th scope="col">Nº</th>
										<th scope="col">Cidade</th>
										<th scope="col">UF</th>
										<th scope="col">Telefone</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let cliente of clientes">
										<td class="col-2">{{cliente.nome}}</td>
										<td class="col-1">{{cliente.CPF}}</td>
										<td class="col-2">{{cliente.email}}</td>
										<td class="col-1">{{cliente.CEP}}</td>
										<td class="col-2">{{cliente.endereco}}</td>
										<td class="col-1">{{cliente.n}}</td>
										<td class="col-1">{{cliente.cidade}}</td>
										<td class="col-1">{{cliente.uf}}</td>
										<td class="col-1">{{cliente.telefone}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="col-md-12 receita__btn">
						<button class="btn btn-primary" (click)="gerarPDF()">
							<i class="fa-solid fa-download"></i>Baixar em PDF</button>
					</div>
				</section>
			</div>
		</main>
	</div>
</div>
<app-footer></app-footer>