<section class="login">
    <header class="login__header">
        <h1 class="login__title">Lol - Lavanderia On-line</h1>
    </header>
    <section class="login__modal">
        <h2 class="login__subtitle">Login:</h2>
        <form>
            <div class="row mb-3">
              <div class="col-sm-12">
                <input type="email" placeholder="E-mail:" class="form-control" id="inputEmail3" required>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-12">
                <input type="password" placeholder="Senha:" class="form-control" id="inputPassword3" required>
              </div>
            </div>
            
            <button type="submit" class="login__btn btn btn-primary">Entrar</button>
            <div class="login__register">
                <p>Não tem uma conta? <a routerLink="/autocadastro">Cadastre-se</a></p>
            </div>
          </form>
    </section>
</section>