<ul class="nav flex-column">
    <li class="nav-item">
        <a [routerLink]="['/cliente/inicial-cliente']" href="#" class="nav-link" href="" aria-current="page">
            <span class="align-text-bottom"></span>
            Início
        </a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/cliente/pedido-online']" href="#" class="nav-link">
            <span class="align-text-bottom"></span>
            Fazer Pedidos
        </a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/cliente/listagem-pedidos']" href="#" class="nav-link">
            <span class="align-text-bottom"></span>
            Listagem de Pedidos
        </a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/cliente/consultar-pedidos']" href="#" class="nav-link">
            <span class="align-text-bottom"></span>
            Consultar Pedidos
        </a>
    </li>
</ul>