<nav class="autocadastro__navbar navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="navbar__content container-fluid">
        <img src="../../../assets/images/pilha-de-roupas.png"
            alt="Imagem ilustrada de uma camisetas de roupas dobradas">
        <p class="navbar__title">LOL - Lavanderia On-line</p>
        <div class="navbar__btn collapse navbar-collapse" id="navbarsExample02">
            <a routerLink="/">Login</a>
        </div>
    </div>
</nav>

<section class="autocadastro">
    <h1 class="autocadastro__title">Cadastre-se:</h1>
    <form class="row g-4" (ngSubmit)="submit()" [formGroup]="momentForm" #formCliente="ngForm">
        <section class="autocadastro__row row">
            <div class="form-group col-md-4">
                <label for="inputCpf3" class="form-label">CPF:</label>
                <input type="text" class="form-control" name="cpf" id="inputCpf4" formControlName="cpf"
                    [(ngModel)]="cliente.cpf" mask="000.000.000-00" placeholder="000.000.000-00" maxlength="14"
                    minlength="11" required />
                <div *ngIf="cpf.errors && (cpf.dirty || cpf.touched)" class="alert alert-danger">
                    <div [hidden]="!cpf.errors?.['required']">Digite o CPF.</div>
                    <div [hidden]="!cpf.errors?.['minlength']">
                        O CPF deve conter ao menos 11 caracteres.
                    </div>
                </div>
            </div>
        </section>

        <section class="autocadastro__row row">
            <div class="form-group col-md-6">
                <label for="inputNome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="cliente.nome"
                    placeholder="Digite seu nome" minlength="2" required />
                <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
                    <div [hidden]="!nome.errors?.['required']">Digite o nome.</div>
                    <div [hidden]="!nome.errors?.['minlength']">
                        O nome deve conter ao menos 2 caracteres.
                    </div>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label for="inputTelefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone" [(ngModel)]="cliente.telefone"
                    #telefone="ngModel" mask="(XX) XXXXX-XXXX" placeholder="XX XXXXX-XXXX" minlength="11" maxlength="15"
                    required />
                <div *ngIf="telefone.errors && (telefone.dirty || telefone.touched)" class="alert alert-danger">
                    <div [hidden]="!telefone.errors?.['required']">Digite o telefone.</div>
                    <div [hidden]="!telefone.errors?.['minlength']">
                        O telefone deve conter ao menos 11 caracteres.
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-4">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="cliente.email"
                        #email="ngModel" placeholder="fulano@email.com" required />
                    <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                        <div [hidden]="!email.errors?.['required']">Digite o email.</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="autocadastro__row  row">
            <div class="col-3">
                <label for="inputAddress" class="form-label">CEP:</label>
                <input type="text" class="form-control" id="inputAddress" formControlName="cep" (blur)="buscarCEP()"
                    [(ngModel)]="cliente.cep" mask='00000-000' placeholder="000000-000" minlength="8" maxlength="9"
                    required />
                <div class="autocadastro__erro" *ngIf="cep.invalid && formCliente.submitted">
                    <p>CEP é obrigatório</p>
                </div>
            </div>
            <div class="col-3">
                <label for="inputUF" class="form-label">UF:*</label>
                <input type="text" class="form-control" id="inputUf" formControlName="uf" [(ngModel)]="cliente.uf"
                    required>
                <div class="autocadastro__erro" *ngIf="uf.invalid && formCliente.submitted">
                    <p>UF é obrigatório</p>
                </div>
            </div>
        </section>

        <section class="autocadastro__row  row">
            <div class="col-6">
                <label for="inputCidade" class="form-label">Cidade:*</label>

                <input type="text" class="form-control" id="inputCidade" formControlName="cidade"
                    [(ngModel)]="cliente.cidade" required>

                <div class="autocadastro__erro" *ngIf="cidade.invalid && formCliente.submitted">
                    <p>Cidade é obrigatório</p>
                </div>
            </div>
            <div class="col-2">
                <label for="inputAddress2" class="form-label">Nº:*</label>

                <input type="text" class="form-control" id="inputAddress2" formControlName="numero"
                    [(ngModel)]="cliente.numero" required>

                <div class="autocadastro__erro" *ngIf="numero.invalid && formCliente.submitted">
                    <p>Nº é obrigatório</p>
                </div>
            </div>
        </section>
  
        <section class="row">
            <div class="col-12">
                <button type="submit" class="autocadastro__btn btn btn-primary" (click)="inserir()" routerLink="/funcionario/relatorio-clientes">Cadastrar</button>
            </div>
        </section>
    </form>
</section>
<app-footer></app-footer>